Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


**/.cache/
**/.validationcache
**/*.wsettings
**/WwiseProjectInfo.json



*.bnk
*.wem
*.pck
*.json.bnk

*.tmp
*.lok
*.log
WwiseProject*.backup*
*.wp.backup